In [21]:
pip install pandas

Requirement already satisfied: pandas in c:\users\asus\anaconda3\lib\site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\asus\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.20.3; python_version < "3.10" in c:\users\asus\anaconda3\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\asus\anaconda3\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: six>=1.5 in c:\users\asus\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
pd.set_option('display.max_columns', None)
import datetime, warnings, scipy
warnings.filterwarnings("ignore")

In [3]:
df1 = pd.read_csv("C:/Users/Asus/Downloads/Flight delay dataset/Flight-Delay-Prediction/Combined_Flights_2022.csv")

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4078318 entries, 0 to 4078317
Data columns (total 61 columns):
 #   Column                                   Dtype
---  ------                                   -----
 0   FlightDate                               object
 1   Airline                                  object
 2   Origin                                   object
 3   Dest                                     object
 4   Cancelled                                bool
 5   Diverted                                 bool
 6   CRSDepTime                               int64
 7   DepTime                                  float64
 8   DepDelayMinutes                          float64
 9   DepDelay                                 float64
 10  ArrTime                                  float64
 11  ArrDelayMinutes                          float64
 12  AirTime                                  float64
 13  CRSElapsedTime                           float64
 14  ActualElapsedTime                        float64
 15  Distance                                 float64
 16  Year                                     int64
 17  Quarter                                  int64
 18  Month                                    int64
 19  DayofMonth                               int64
 20  DayOfWeek                                int64
 21  Marketing_Airline_Network                object
 22  Operated_or_Branded_Code_Share_Partners  object
 23  DOT_ID_Marketing_Airline                 int64
 24  IATA_Code_Marketing_Airline              object
 25  Flight_Number_Marketing_Airline          int64
 26  Operating_Airline                        object
 27  DOT_ID_Operating_Airline                 int64
 28  IATA_Code_Operating_Airline              object
 29  Tail_Number                              object
 30  Flight_Number_Operating_Airline          int64
 31  OriginAirportID                          int64
 32  OriginAirportSeqID                       int64
 33  OriginCityMarketID                       int64
 34  OriginCityName                           object
 35  OriginState                              object
 36  OriginStateFips                          int64
 37  OriginStateName                          object
 38  OriginWac                                int64
 39  DestAirportID                            int64
 40  DestAirportSeqID                         int64
 41  DestCityMarketID                         int64
 42  DestCityName                             object
 43  DestState                                object
 44  DestStateFips                            int64
 45  DestStateName                            object
 46  DestWac                                  int64
 47  DepDel15                                 float64
 48  DepartureDelayGroups                     float64
 49  DepTimeBlk                               object
 50  TaxiOut                                  float64
 51  WheelsOff                                float64
 52  WheelsOn                                 float64
 53  TaxiIn                                   float64
 54  CRSArrTime                               int64
 55  ArrDelay                                 float64
 56  ArrDel15                                 float64
 57  ArrivalDelayGroups                       float64
 58  ArrTimeBlk                               object
 59  DistanceGroup                            int64
 60  DivAirportLandings                       int64
dtypes: bool(2), float64(18), int64(23), object(18)
memory usage: 1.8+ GB

In [5]:
df1.shape

(4078318, 61)

In [6]:
df1.Marketing_Airline_Network.unique()

array(['UA', 'WN', 'AA', 'DL', 'AS', 'B6', 'F9', 'G4', 'HA', 'NK'],
      dtype=object)

In [7]:
df1.Operating_Airline.unique()

array(['C5', 'G7', 'ZW', 'YV', 'WN', 'YX', '9E', 'AA', 'PT', 'OO', 'AS',
       'B6', 'DL', 'F9', 'G4', 'HA', 'MQ', 'NK', 'OH', 'QX', 'UA'],
      dtype=object)

In [8]:
df1['Operating_Airline'].replace({
    'UA':'United Airlines',
    'AS':'Alaska Airlines',
    '9E':'Endeavor Air',
    'B6':'JetBlue Airways',
    'C5':'CommutAir',
    'G7':'GoJet Airlines',
    'ZW':'Air Wisconsin',
    'PT':'Piedmont Airlines',
    'QX':'Horizon Air',
    'F9':'Frontier Airlines',
    'G4':'Allegiant Air',
    'HA':'Hawaiian Airlines',
    'MQ':'Envoy Air',
    'NK':'Spirit Airlines',
    'OH':'PSA Airlines',
    'OO':'SkyWest Airlines',
    'WN':'Southwest Airlines',
    'YV':'Mesa Airline',
    'YX':'Republic Airways',
    'AA':'American Airlines',
    'DL':'Delta Airlines'
}, inplace=True)

In [9]:
df1.Operating_Airline.value_counts()

Southwest Airlines    731925
Delta Airlines        512114
American Airlines     495953
SkyWest Airlines      440807
United Airlines       352009
Republic Airways      197881
JetBlue Airways       156793
Envoy Air             150758
Endeavor Air          142624
PSA Airlines          135884
Alaska Airlines       129510
Spirit Airlines       129208
Frontier Airlines      86557
Allegiant Air          73504
Mesa Airline           71972
Horizon Air            56320
Piedmont Airlines      52827
CommutAir              44367
Hawaiian Airlines      42212
Air Wisconsin          40300
GoJet Airlines         34793
Name: Operating_Airline, dtype: int64

In [10]:
df1.Cancelled.nunique()

2

In [11]:
df1.Cancelled.value_counts()

False    3955126
True      123192
Name: Cancelled, dtype: int64

In [12]:
df1['Cancelled'].replace({
    'True':1,
    'False':0
}, inplace=True)

In [13]:
df1.Cancelled.value_counts()

False    3955126
True      123192
Name: Cancelled, dtype: int64

In [14]:
dummy = df1[(df1['Cancelled'] == 1)]
print('dummy shape:', dummy.shape)
print('====================================')
print('dummy dataframe:')
dummy.head(3).append(dummy.tail(3))

dummy shape: (123192, 61)
====================================
dummy dataframe:

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,ArrTime,ArrDelayMinutes,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,Year,Quarter,Month,DayofMonth,DayOfWeek,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,Operating_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,Flight_Number_Operating_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,DestCityName,DestState,DestStateFips,DestStateName,DestWac,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
949,2022-04-02,"Commutair Aka Champlain Enterprises, Inc.",JAX,IAH,True,False,1842,NaN,NaN,NaN,NaN,NaN,NaN,169.0,NaN,817.0,2022,2,4,2,6,UA,UA_CODESHARE,19977,UA,4358,CommutAir,20445,C5,NaN,4358,12451,1245102,31136,"Jacksonville, FL",FL,12,Florida,33,12266,1226603,31453,"Houston, TX",TX,48,Texas,74,NaN,NaN,1800-1859,NaN,NaN,NaN,NaN,2031,NaN,NaN,NaN,2000-2059,4,0
970,2022-04-02,"Commutair Aka Champlain Enterprises, Inc.",IAH,JAX,True,False,1435,NaN,NaN,NaN,NaN,NaN,NaN,142.0,NaN,817.0,2022,2,4,2,6,UA,UA_CODESHARE,19977,UA,4334,CommutAir,20445,C5,NaN,4334,12266,1226603,31453,"Houston, TX",TX,48,Texas,74,12451,1245102,31136,"Jacksonville, FL",FL,12,Florida,33,NaN,NaN,1400-1459,NaN,NaN,NaN,NaN,1757,NaN,NaN,NaN,1700-1759,4,0
982,2022-04-02,"Commutair Aka Champlain Enterprises, Inc.",IAH,ECP,True,False,1426,NaN,NaN,NaN,NaN,NaN,NaN,105.0,NaN,572.0,2022,2,4,2,6,UA,UA_CODESHARE,19977,UA,4321,CommutAir,20445,C5,NaN,4321,12266,1226603,31453,"Houston, TX",TX,48,Texas,74,11481,1148102,31481,"Panama City, FL",FL,12,Florida,33,NaN,NaN,1400-1459,NaN,NaN,NaN,NaN,1611,NaN,NaN,NaN,1600-1659,3,0
4078234,2022-03-02,Republic Airlines,RDU,EWR,True,False,1430,957.0,1167.0,1167.0,NaN,NaN,NaN,113.0,NaN,416.0,2022,1,3,2,3,UA,UA_CODESHARE,19977,UA,3438,Republic Airways,20452,YX,N856RW,3438,14492,1449202,34492,"Raleigh/Durham, NC",NC,37,North Carolina,36,11618,1161802,31703,"Newark, NJ",NJ,34,New Jersey,21,1.0,12.0,1400-1459,NaN,NaN,NaN,NaN,1623,NaN,NaN,NaN,1600-1659,2,0
4078311,2022-03-31,Republic Airlines,EWR,PIT,True,False,1829,2033.0,124.0,124.0,NaN,NaN,NaN,97.0,NaN,319.0,2022,1,3,31,4,UA,UA_CODESHARE,19977,UA,3687,Republic Airways,20452,YX,N651RW,3687,11618,1161802,31703,"Newark, NJ",NJ,34,New Jersey,21,14122,1412202,30198,"Pittsburgh, PA",PA,42,Pennsylvania,23,1.0,8.0,1800-1859,NaN,NaN,NaN,NaN,2006,NaN,NaN,NaN,2000-2059,2,0
4078314,2022-03-17,Republic Airlines,CLT,EWR,True,False,1733,1817.0,44.0,44.0,NaN,NaN,NaN,129.0,NaN,529.0,2022,1,3,17,4,UA,UA_CODESHARE,19977,UA,3437,Republic Airways,20452,YX,N654RW,3437,11057,1105703,31057,"Charlotte, NC",NC,37,North Carolina,36,11618,1161802,31703,"Newark, NJ",NJ,34,New Jersey,21,1.0,2.0,1700-1759,NaN,NaN,NaN,NaN,1942,NaN,NaN,NaN,1900-1959,3,0

In [15]:
dummy.Cancelled.nunique()

1

In [16]:
dummy.Cancelled.value_counts()

True    123192
Name: Cancelled, dtype: int64

In [17]:
df1 = df1[(df1['Cancelled'] == 0)]
df1.head(2)

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,ArrTime,ArrDelayMinutes,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,Year,Quarter,Month,DayofMonth,DayOfWeek,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,Operating_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,Flight_Number_Operating_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,DestCityName,DestState,DestStateFips,DestStateName,DestWac,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
0,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",GJT,DEN,False,False,1133,1123.0,0.0,-10.0,1228.0,0.0,40.0,72.0,65.0,212.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4301,CommutAir,20445,C5,N21144,4301,11921,1192102,31921,"Grand Junction, CO",CO,8,Colorado,82,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,0.0,-1.0,1100-1159,17.0,1140.0,1220.0,8.0,1245,-17.0,0.0,-2.0,1200-1259,1,0
1,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",HRL,IAH,False,False,732,728.0,0.0,-4.0,848.0,0.0,55.0,77.0,80.0,295.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4299,CommutAir,20445,C5,N16170,4299,12206,1220605,32206,"Harlingen/San Benito, TX",TX,48,Texas,74,12266,1226603,31453,"Houston, TX",TX,48,Texas,74,0.0,-1.0,0700-0759,16.0,744.0,839.0,9.0,849,-1.0,0.0,-1.0,0800-0859,2,0

In [18]:
df1 = df1.drop(['Cancelled'], axis = 1)

In [19]:
df1.shape

(3955126, 60)

In [20]:
airports = pd.read_csv('C:/Users/Asus/Downloads/airports.csv')
airports.head(10)

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447
5,ACK,Nantucket Memorial Airport,Nantucket,MA,USA,41.25305,-70.06018
6,ACT,Waco Regional Airport,Waco,TX,USA,31.61129,-97.23052
7,ACV,Arcata Airport,Arcata/Eureka,CA,USA,40.97812,-124.10862
8,ACY,Atlantic City International Airport,Atlantic City,NJ,USA,39.45758,-74.57717
9,ADK,Adak Airport,Adak,AK,USA,51.87796,-176.64603

In [23]:
airports.shape

(322, 7)

In [24]:
len(airports.IATA_CODE.unique())

322

In [25]:
airport_IATA_CODE = list(airports['IATA_CODE'])

In [26]:
len(airport_IATA_CODE)

322

In [28]:
df1.Origin.unique()

array(['GJT', 'HRL', 'DRO', 'IAH', 'DEN', 'TYS', 'MOB', 'LNK', 'BHM',
       'IAD', 'ECP', 'AEX', 'LFT', 'BTR', 'ABQ', 'BUF', 'ALB', 'HSV',
       'TUL', 'CPR', 'CRP', 'EWR', 'DCA', 'STL', 'CVG', 'RIC', 'PVD',
       'CLT', 'GSO', 'ERI', 'ORD', 'LEX', 'ABE', 'CAK', 'AVL', 'DAY',
       'CHO', 'ROA', 'PWM', 'LIT', 'MKE', 'BTV', 'OMA', 'GRB', 'MLI',
       'SDF', 'FNT', 'CHS', 'PIT', 'TVC', 'ATW', 'DLH', 'ROC', 'SPI',
       'HPN', 'MBS', 'CID', 'MYR', 'CAE', 'SGF', 'AVP', 'GRR', 'DSM',
       'CLE', 'PIA', 'MSN', 'MDT', 'SBN', 'MEM', 'ICT', 'SHV', 'XNA',
       'DIK', 'GPT', 'PNS', 'LRD', 'LCH', 'MFE', 'FLG', 'BRO', 'SAF',
       'PQI', 'ORF', 'LGA', 'SYR', 'RDU', 'ILM', 'IND', 'PHL', 'CMH',
       'SCE', 'ITH', 'JAX', 'OKC', 'JAN', 'GSP', 'TXK', 'ELP', 'MAF',
       'AUS', 'IDA', 'BNA', 'SAV', 'AMA', 'ATL', 'BDL', 'BLI', 'BOI',
       'BOS', 'BUR', 'BWI', 'BZN', 'COS', 'DAL', 'DTW', 'EUG', 'FAT',
       'FLL', 'GEG', 'HDN', 'HNL', 'HOU', 'ISP', 'ITO', 'KOA', 'LAS',
       'LAX', 'LBB', 'LGB', 'LIH', 'MCI', 'MCO', 'MDW', 'MHT', 'MIA',
       'MSP', 'MSY', 'MTJ', 'OAK', 'OGG', 'ONT', 'PBI', 'PDX', 'PHX',
       'PSP', 'RNO', 'RSW', 'SAN', 'SAT', 'SBA', 'SEA', 'SFO', 'SJC',
       'SJU', 'SLC', 'SMF', 'SNA', 'SRQ', 'TPA', 'TUS', 'VPS', 'DFW',
       'HHH', 'BFL', 'FAR', 'YUM', 'FSD', 'MRY', 'BMI', 'RAP', 'DAB',
       'FAY', 'GNV', 'MGM', 'STS', 'TLH', 'MFR', 'JFK', 'AGS', 'EYW',
       'ORH', 'BGR', 'CHA', 'CRW', 'BQK', 'OAJ', 'LAN', 'AZO', 'DHN',
       'TRI', 'BIS', 'VLD', 'ABY', 'GTR', 'MLU', 'MOT', 'RST', 'CWA',
       'CSG', 'EVV', 'GFK', 'FWA', 'BGM', 'STT', 'EGE', 'JAC', 'MSO',
       'STX', 'GUC', 'PHF', 'PGV', 'ART', 'HTS', 'LYH', 'FLO', 'SBY',
       'ADQ', 'ANC', 'BET', 'BRW', 'JNU', 'KTN', 'CDV', 'YAK', 'FAI',
       'PSG', 'WRG', 'SIT', 'OME', 'OTZ', 'PAE', 'ADK', 'SCC', 'BQN',
       'PSE', 'BIL', 'FCA', 'MLB', 'ILG', 'TTN', 'SWF', 'USA', 'SFB',
       'PIE', 'AZA', 'RFD', 'GRI', 'PBG', 'PGD', 'PVU', 'TOL', 'BLV',
       'LCK', 'ELM', 'PSM', 'SCK', 'IAG', 'PSC', 'CKB', 'STC', 'HGR',
       'OWB', 'SMX', 'GTF', 'RDM', 'OGD', 'PPG', 'GCK', 'ACT', 'ALO',
       'LAW', 'GGG', 'COU', 'SPS', 'ABI', 'CMI', 'DRT', 'FSM', 'LSE',
       'TYR', 'GRK', 'DBQ', 'BPT', 'MHK', 'SJT', 'SWO', 'MQT', 'SBP',
       'CLL', 'ACY', 'LBE', 'EWN', 'ROW', 'SGU', 'ACV', 'ASE', 'XWA',
       'HLN', 'OTH', 'SLN', 'LWS', 'HOB', 'HYS', 'ALS', 'CNY', 'RKS',
       'DVL', 'JMS', 'PAH', 'PRC', 'RIW', 'BFF', 'DDC', 'SUX', 'CMX',
       'MEI', 'JLN', 'EAU', 'GCC', 'SHR', 'TBN', 'FOD', 'LAR', 'VEL',
       'OGS', 'PUB', 'VCT', 'DEC', 'CYS', 'LBF', 'JST', 'MCW', 'RDD',
       'SHD', 'CGI', 'EAR', 'MKG', 'LWB', 'LBL', 'COD', 'PIB', 'BTM',
       'SUN', 'IMT', 'RHI', 'ESC', 'APN', 'ABR', 'PLN', 'INL', 'BRD',
       'HIB', 'CIU', 'PIH', 'TWF', 'EKO', 'BJI', 'CDC', 'YKM', 'PUW',
       'ALW', 'EAT', 'DLG', 'AKN', 'GUM', 'SPN', 'BIH', 'WYS', 'ACK',
       'BKG', 'GST', 'MVY', 'HYA', 'PIR', 'ATY'], dtype=object)

In [31]:
df1_ORIGIN = df1.Origin.unique()
df1_DEST = df1.Dest.unique()

In [32]:
print(type(df1_ORIGIN))
print(type(df1_DEST))

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

In [33]:
df1_ORIGIN = df1_ORIGIN.tolist()
df1_DEST = df1_DEST.tolist()

In [34]:
print(type(df1_ORIGIN))
print(type(df1_DEST))

<class 'list'>
<class 'list'>

In [35]:
print(len(df1_ORIGIN))
print(len(df1_DEST))

375
375

In [36]:
difference_1 = [item for item in airport_IATA_CODE if item not in df1_ORIGIN]
difference_1

['CEC', 'CLD', 'ISN', 'MMH', 'UST']

In [37]:
difference_2 = [item for item in df1_ORIGIN if item not in airport_IATA_CODE]
difference_2

['PQI',
 'HHH',
 'STS',
 'PGV',
 'ART',
 'HTS',
 'LYH',
 'FLO',
 'SBY',
 'PAE',
 'USA',
 'SFB',
 'PIE',
 'AZA',
 'RFD',
 'PGD',
 'PVU',
 'BLV',
 'LCK',
 'PSM',
 'SCK',
 'CKB',
 'HGR',
 'OWB',
 'OGD',
 'DRT',
 'SWO',
 'XWA',
 'SLN',
 'ALS',
 'PRC',
 'RIW',
 'BFF',
 'DDC',
 'SHR',
 'TBN',
 'FOD',
 'OGS',
 'VCT',
 'DEC',
 'CYS',
 'LBF',
 'JST',
 'MCW',
 'SHD',
 'CGI',
 'EAR',
 'LWB',
 'LBL',
 'YKM',
 'PUW',
 'ALW',
 'EAT',
 'SPN',
 'BIH',
 'BKG',
 'PIR',
 'ATY']

In [38]:
len(difference_2)

58

In [39]:
difference_3 = [item for item in df1_DEST if item not in airport_IATA_CODE]
difference_4 = [item for item in airport_IATA_CODE if item not in df1_DEST]
print(type(difference_3))
print(type(difference_4))

<class 'list'>
<class 'list'>

In [40]:
print(difference_1)
print(difference_4)

['CEC', 'CLD', 'ISN', 'MMH', 'UST']
['CEC', 'CLD', 'ISN', 'MMH', 'UST']

In [41]:
difference_2_3 = [item for item in difference_2 if item not in difference_3]
difference_2_3

[]

In [42]:
missing_airports = pd.DataFrame(difference_2, columns=['IATA_CODE'])
print('missing_airports type is:', type(missing_airports))
print('===============================================================')
print('Dataframe difference_2 shape:', missing_airports.shape)
print('===============================================================')
missing_airports.head(3).append(missing_airports.tail(3))

missing_airports type is: <class 'pandas.core.frame.DataFrame'>
===============================================================
Dataframe difference_2 shape: (58, 1)
===============================================================

   IATA_CODE
0        PQI
1        HHH
2        STS
55       BKG
56       PIR
57       ATY

In [43]:
missing_airports.to_csv('missing_airports.csv')

In [51]:
pip install openpyxl --upgrade --pre

Collecting openpyxl
  Downloading openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
Requirement already satisfied, skipping upgrade: et-xmlfile in c:\users\asus\anaconda3\lib\site-packages (from openpyxl) (1.0.1)
Installing collected packages: openpyxl
  Attempting uninstall: openpyxl
    Found existing installation: openpyxl 3.0.5
    Uninstalling openpyxl-3.0.5:
      Successfully uninstalled openpyxl-3.0.5
Successfully installed openpyxl-3.0.10
Note: you may need to restart the kernel to use updated packages.

In [52]:
missing_airports = pd.read_csv('C:/Users/Asus/Downloads/Flight delay dataset/missing_airports.csv', index_col=0)
print(missing_airports.shape)
missing_airports.head(3).append(missing_airports.tail(2))

(58, 1)

   IATA_CODE
0        PQI
1        HHH
2        STS
56       PIR
57       ATY

In [53]:
print(airports.shape)
airports.head(3)

(322, 7)

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919

In [58]:
airports = airports[airports.IATA_CODE != 'CEC']
airports = airports[airports.IATA_CODE != 'CLD']
airports = airports[airports.IATA_CODE != 'ISN']
airports = airports[airports.IATA_CODE != 'MMH']
airports = airports[airports.IATA_CODE != 'UST']

In [59]:
airports.shape

(315, 7)

In [60]:
AIRPORTS = airports.append(missing_airports, ignore_index=True)
AIRPORTS.shape

(373, 7)

In [61]:
AIRPORTS.head(2).append(AIRPORTS.tail(2))

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.4404
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.6819
371,PIR,NaN,NaN,NaN,NaN,NaN,NaN
372,ATY,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
print('Number of cities with at least one airport:', AIRPORTS.CITY.nunique())
print('================================================')
print('Total number of airports:', AIRPORTS.IATA_CODE.nunique())
print('================================================')

Number of cities with at least one airport: 303
================================================
Total number of airports: 373
================================================

In [63]:
airport_dict = pd.Series(AIRPORTS.CITY.values, index=AIRPORTS.IATA_CODE).to_dict()
print(type(airport_dict))

<class 'dict'>

In [64]:
df1['Origin'].replace(airport_dict, inplace=True)
df1['Dest'].replace(airport_dict, inplace=True)
df1.head(3).append(df1.tail(3))

,FlightDate,Airline,Origin,Dest,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,ArrTime,ArrDelayMinutes,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,Year,Quarter,Month,DayofMonth,DayOfWeek,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,Operating_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,Flight_Number_Operating_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,DestCityName,DestState,DestStateFips,DestStateName,DestWac,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
0,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",Grand Junction,Denver,False,1133,1123.0,0.0,-10.0,1228.0,0.0,40.0,72.0,65.0,212.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4301,CommutAir,20445,C5,N21144,4301,11921,1192102,31921,"Grand Junction, CO",CO,8,Colorado,82,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,0.0,-1.0,1100-1159,17.0,1140.0,1220.0,8.0,1245,-17.0,0.0,-2.0,1200-1259,1,0
1,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",Harlingen,Houston,False,732,728.0,0.0,-4.0,848.0,0.0,55.0,77.0,80.0,295.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4299,CommutAir,20445,C5,N16170,4299,12206,1220605,32206,"Harlingen/San Benito, TX",TX,48,Texas,74,12266,1226603,31453,"Houston, TX",TX,48,Texas,74,0.0,-1.0,0700-0759,16.0,744.0,839.0,9.0,849,-1.0,0.0,-1.0,0800-0859,2,0
2,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",Durango,Denver,False,1529,1514.0,0.0,-15.0,1636.0,0.0,47.0,70.0,82.0,251.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4298,CommutAir,20445,C5,N21144,4298,11413,1141307,30285,"Durango, CO",CO,8,Colorado,82,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,0.0,-1.0,1500-1559,21.0,1535.0,1622.0,14.0,1639,-3.0,0.0,-1.0,1600-1659,2,0
4078315,2022-03-08,Republic Airlines,Albany,Chicago,False,1700,2318.0,378.0,378.0,59.0,381.0,135.0,158.0,161.0,723.0,2022,1,3,8,2,UA,UA_CODESHARE,19977,UA,3413,Republic Airways,20452,YX,N733YX,3413,10257,1025702,30257,"Albany, NY",NY,36,New York,22,13930,1393007,30977,"Chicago, IL",IL,17,Illinois,41,1.0,12.0,1700-1759,19.0,2337.0,52.0,7.0,1838,381.0,1.0,12.0,1800-1859,3,0
4078316,2022-03-25,Republic Airlines,Newark,Pittsburgh,True,2129,2322.0,113.0,113.0,939.0,NaN,NaN,86.0,NaN,319.0,2022,1,3,25,5,UA,UA_CODESHARE,19977,UA,3450,Republic Airways,20452,YX,N647RW,3450,11618,1161802,31703,"Newark, NJ",NJ,34,New Jersey,21,14122,1412202,30198,"Pittsburgh, PA",PA,42,Pennsylvania,23,1.0,7.0,2100-2159,25.0,2347.0,933.0,6.0,2255,NaN,NaN,NaN,2200-2259,2,1
4078317,2022-03-07,Republic Airlines,Newark,Raleigh,True,1154,1148.0,0.0,-6.0,1556.0,NaN,NaN,99.0,NaN,416.0,2022,1,3,7,1,UA,UA_CODESHARE,19977,UA,3585,Republic Airways,20452,YX,N648RW,3585,11618,1161802,31703,"Newark, NJ",NJ,34,New Jersey,21,14492,1449202,34492,"Raleigh/Durham, NC",NC,37,North Carolina,36,0.0,-1.0,1100-1159,13.0,1201.0,1552.0,4.0,1333,NaN,NaN,NaN,1300-1359,2,1

In [65]:
print('Total number of departure/origin cities:', df1.Origin.nunique())
print('==================================================')
print('Total number of arrivals/destinations cities:', df1.Dest.nunique())
print('==================================================')

Total number of departure/origin cities: 305
==================================================
Total number of arrivals/destinations cities: 305
==================================================

In [66]:
df1.Diverted.value_counts()

False    3944916
True       10210
Name: Diverted, dtype: int64

In [67]:
DIVERTED_1 = df1['Diverted']==1

In [68]:
df1_DIV = df1[DIVERTED_1]
print(df1_DIV.shape)

(10210, 60)

In [69]:
df1_DIV.head()

,FlightDate,Airline,Origin,Dest,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,ArrTime,ArrDelayMinutes,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,Year,Quarter,Month,DayofMonth,DayOfWeek,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,Operating_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,Flight_Number_Operating_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,DestCityName,DestState,DestStateFips,DestStateName,DestWac,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
586,2022-04-03,"Commutair Aka Champlain Enterprises, Inc.",Huntsville,Houston,True,615,608.0,0.0,-7.0,1040.0,NaN,NaN,134.0,NaN,595.0,2022,2,4,3,7,UA,UA_CODESHARE,19977,UA,4228,CommutAir,20445,C5,N27200,4228,12217,1221702,30255,"Huntsville, AL",AL,1,Alabama,51,12266,1226603,31453,"Houston, TX",TX,48,Texas,74,0.0,-1.0,0600-0659,14.0,622.0,1029.0,11.0,829,NaN,NaN,NaN,0800-0859,3,1
765,2022-04-03,Air Wisconsin Airlines Corp,Chicago,White Plains,True,1415,1409.0,0.0,-6.0,1928.0,NaN,NaN,134.0,NaN,738.0,2022,2,4,3,7,UA,UA_CODESHARE,19977,UA,3766,Air Wisconsin,20046,ZW,N416AW,3766,13930,1393007,30977,"Chicago, IL",IL,17,Illinois,41,12197,1219702,31703,"White Plains, NY",NY,36,New York,22,0.0,-1.0,1400-1459,18.0,1427.0,1922.0,6.0,1729,NaN,NaN,NaN,1700-1759,3,1
1776,2022-04-01,Air Wisconsin Airlines Corp,Columbia,Chantilly,True,1445,1441.0,0.0,-4.0,1719.0,NaN,NaN,87.0,NaN,401.0,2022,2,4,1,5,UA,UA_CODESHARE,19977,UA,3763,Air Wisconsin,20046,ZW,N441ZW,3763,10868,1086803,30868,"Columbia, SC",SC,45,South Carolina,37,12264,1226402,30852,"Washington, DC",VA,51,Virginia,38,0.0,-1.0,1400-1459,8.0,1449.0,1711.0,8.0,1612,NaN,NaN,NaN,1600-1659,2,1
1845,2022-04-01,Southwest Airlines Co.,Albany,Orlando,True,1245,1316.0,31.0,31.0,1901.0,NaN,NaN,175.0,NaN,1073.0,2022,2,4,1,5,WN,WN,19393,WN,555,Southwest Airlines,19393,WN,N430WN,555,10257,1025702,30257,"Albany, NY",NY,36,New York,22,13204,1320402,31454,"Orlando, FL",FL,12,Florida,33,1.0,2.0,1200-1259,12.0,1328.0,1856.0,5.0,1540,NaN,NaN,NaN,1500-1559,5,1
1935,2022-04-01,Southwest Airlines Co.,Atlanta,Sarasota,True,1015,1014.0,0.0,-1.0,1436.0,NaN,NaN,100.0,NaN,444.0,2022,2,4,1,5,WN,WN,19393,WN,1328,Southwest Airlines,19393,WN,N557WN,1328,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34,14986,1498603,34986,"Sarasota/Bradenton, FL",FL,12,Florida,33,0.0,-1.0,1000-1059,17.0,1031.0,1432.0,4.0,1155,NaN,NaN,NaN,1100-1159,2,1

In [72]:
df1_DIV.ArrDelay.nunique()

0

In [73]:
df1_DIV.ArrDelay.unique()

array([nan])

In [74]:
df1_DIV.AirTime.nunique()

0

In [75]:
df1 = df1.drop(['Diverted'], axis=1)
df1.head(3)

,FlightDate,Airline,Origin,Dest,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,ArrTime,ArrDelayMinutes,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,Year,Quarter,Month,DayofMonth,DayOfWeek,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,Operating_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,Flight_Number_Operating_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,DestCityName,DestState,DestStateFips,DestStateName,DestWac,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
0,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",Grand Junction,Denver,1133,1123.0,0.0,-10.0,1228.0,0.0,40.0,72.0,65.0,212.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4301,CommutAir,20445,C5,N21144,4301,11921,1192102,31921,"Grand Junction, CO",CO,8,Colorado,82,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,0.0,-1.0,1100-1159,17.0,1140.0,1220.0,8.0,1245,-17.0,0.0,-2.0,1200-1259,1,0
1,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",Harlingen,Houston,732,728.0,0.0,-4.0,848.0,0.0,55.0,77.0,80.0,295.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4299,CommutAir,20445,C5,N16170,4299,12206,1220605,32206,"Harlingen/San Benito, TX",TX,48,Texas,74,12266,1226603,31453,"Houston, TX",TX,48,Texas,74,0.0,-1.0,0700-0759,16.0,744.0,839.0,9.0,849,-1.0,0.0,-1.0,0800-0859,2,0
2,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",Durango,Denver,1529,1514.0,0.0,-15.0,1636.0,0.0,47.0,70.0,82.0,251.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4298,CommutAir,20445,C5,N21144,4298,11413,1141307,30285,"Durango, CO",CO,8,Colorado,82,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,0.0,-1.0,1500-1559,21.0,1535.0,1622.0,14.0,1639,-3.0,0.0,-1.0,1600-1659,2,0

In [76]:
df1.shape

(3955126, 59)

In [78]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3955126 entries, 0 to 4078317
Data columns (total 59 columns):
 #   Column                                   Dtype
---  ------                                   -----
 0   FlightDate                               object
 1   Airline                                  object
 2   Origin                                   object
 3   Dest                                     object
 4   CRSDepTime                               int64
 5   DepTime                                  float64
 6   DepDelayMinutes                          float64
 7   DepDelay                                 float64
 8   ArrTime                                  float64
 9   ArrDelayMinutes                          float64
 10  AirTime                                  float64
 11  CRSElapsedTime                           float64
 12  ActualElapsedTime                        float64
 13  Distance                                 float64
 14  Year                                     int64
 15  Quarter                                  int64
 16  Month                                    int64
 17  DayofMonth                               int64
 18  DayOfWeek                                int64
 19  Marketing_Airline_Network                object
 20  Operated_or_Branded_Code_Share_Partners  object
 21  DOT_ID_Marketing_Airline                 int64
 22  IATA_Code_Marketing_Airline              object
 23  Flight_Number_Marketing_Airline          int64
 24  Operating_Airline                        object
 25  DOT_ID_Operating_Airline                 int64
 26  IATA_Code_Operating_Airline              object
 27  Tail_Number                              object
 28  Flight_Number_Operating_Airline          int64
 29  OriginAirportID                          int64
 30  OriginAirportSeqID                       int64
 31  OriginCityMarketID                       int64
 32  OriginCityName                           object
 33  OriginState                              object
 34  OriginStateFips                          int64
 35  OriginStateName                          object
 36  OriginWac                                int64
 37  DestAirportID                            int64
 38  DestAirportSeqID                         int64
 39  DestCityMarketID                         int64
 40  DestCityName                             object
 41  DestState                                object
 42  DestStateFips                            int64
 43  DestStateName                            object
 44  DestWac                                  int64
 45  DepDel15                                 float64
 46  DepartureDelayGroups                     float64
 47  DepTimeBlk                               object
 48  TaxiOut                                  float64
 49  WheelsOff                                float64
 50  WheelsOn                                 float64
 51  TaxiIn                                   float64
 52  CRSArrTime                               int64
 53  ArrDelay                                 float64
 54  ArrDel15                                 float64
 55  ArrivalDelayGroups                       float64
 56  ArrTimeBlk                               object
 57  DistanceGroup                            int64
 58  DivAirportLandings                       int64
dtypes: float64(18), int64(23), object(18)
memory usage: 1.8+ GB

In [89]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3955126 entries, 0 to 4078317
Data columns (total 27 columns):
 #   Column                       Dtype
---  ------                       -----
 0   FlightDate                   object
 1   Airline                      object
 2   Origin                       object
 3   Dest                         object
 4   CRSDepTime                   int64
 5   DepDelay                     float64
 6   AirTime                      float64
 7   CRSElapsedTime               float64
 8   ActualElapsedTime            float64
 9   Distance                     float64
 10  Year                         int64
 11  Quarter                      int64
 12  Month                        int64
 13  DayofMonth                   int64
 14  DayOfWeek                    int64
 15  Marketing_Airline_Network    object
 16  DOT_ID_Marketing_Airline     int64
 17  IATA_Code_Marketing_Airline  object
 18  Operating_Airline            object
 19  DepDel15                     float64
 20  TaxiOut                      float64
 21  WheelsOff                    float64
 22  WheelsOn                     float64
 23  TaxiIn                       float64
 24  CRSArrTime                   int64
 25  ArrDelay                     float64
 26  ArrivalDelayGroups           float64
dtypes: float64(12), int64(8), object(7)
memory usage: 844.9+ MB

In [94]:
df1.drop(columns=['Airline','Year','Quarter','Month','DayofMonth','DayOfWeek','Marketing_Airline_Network','DOT_ID_Marketing_Airline','IATA_Code_Marketing_Airline'], inplace=True)

KeyError: "['Airline', 'Year', 'Quarter', 'Month', 'DayofMonth', 'DayOfWeek', 'Marketing_Airline_Network', 'DOT_ID_Marketing_Airline', 'IATA_Code_Marketing_Airline', ' ArrivalDelayGroups'] not found in axis"

In [92]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3955126 entries, 0 to 4078317
Data columns (total 18 columns):
 #   Column              Dtype
---  ------              -----
 0   FlightDate          object
 1   Origin              object
 2   Dest                object
 3   CRSDepTime          int64
 4   DepDelay            float64
 5   AirTime             float64
 6   CRSElapsedTime      float64
 7   ActualElapsedTime   float64
 8   Distance            float64
 9   Operating_Airline   object
 10  DepDel15            float64
 11  TaxiOut             float64
 12  WheelsOff           float64
 13  WheelsOn            float64
 14  TaxiIn              float64
 15  CRSArrTime          int64
 16  ArrDelay            float64
 17  ArrivalDelayGroups  float64
dtypes: float64(12), int64(2), object(4)
memory usage: 573.3+ MB

In [98]:
df1.drop(columns=['DepDel15'],axis=1)

,FlightDate,Origin,Dest,CRSDepTime,DepDelay,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,Operating_Airline,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrivalDelayGroups
0,2022-04-04,Grand Junction,Denver,1133,-10.0,40.0,72.0,65.0,212.0,CommutAir,17.0,1140.0,1220.0,8.0,1245,-17.0,-2.0
1,2022-04-04,Harlingen,Houston,732,-4.0,55.0,77.0,80.0,295.0,CommutAir,16.0,744.0,839.0,9.0,849,-1.0,-1.0
2,2022-04-04,Durango,Denver,1529,-15.0,47.0,70.0,82.0,251.0,CommutAir,21.0,1535.0,1622.0,14.0,1639,-3.0,-1.0
3,2022-04-04,Houston,Gulfport-Biloxi,1435,-5.0,57.0,90.0,77.0,376.0,CommutAir,16.0,1446.0,1543.0,4.0,1605,-18.0,-2.0
4,2022-04-04,Durango,Denver,1135,0.0,49.0,70.0,76.0,251.0,CommutAir,19.0,1154.0,1243.0,8.0,1245,6.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4078312,2022-03-19,Newark,Memphis,2035,154.0,144.0,182.0,163.0,946.0,Republic Airways,14.0,2323.0,47.0,5.0,2237,135.0,9.0
4078313,2022-03-31,New Orleans,Newark,1949,25.0,NaN,185.0,NaN,1167.0,Republic Airways,17.0,2031.0,202.0,32.0,2354,NaN,NaN
4078315,2022-03-08,Albany,Chicago,1700,378.0,135.0,158.0,161.0,723.0,Republic Airways,19.0,2337.0,52.0,7.0,1838,381.0,12.0
4078316,2022-03-25,Newark,Pittsburgh,2129,113.0,NaN,86.0,NaN,319.0,Republic Airways,25.0,2347.0,933.0,6.0,2255,NaN,NaN
4078317,2022-03-07,Newark,Raleigh,1154,-6.0,NaN,99.0,NaN,416.0,Republic Airways,13.0,1201.0,1552.0,4.0,1333,NaN,NaN

In [101]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3955126 entries, 0 to 4078317
Data columns (total 18 columns):
 #   Column              Dtype
---  ------              -----
 0   FlightDate          object
 1   Origin              object
 2   Dest                object
 3   CRSDepTime          int64
 4   DepDelay            float64
 5   AirTime             float64
 6   CRSElapsedTime      float64
 7   ActualElapsedTime   float64
 8   Distance            float64
 9   Operating_Airline   object
 10  DepDel15            float64
 11  TaxiOut             float64
 12  WheelsOff           float64
 13  WheelsOn            float64
 14  TaxiIn              float64
 15  CRSArrTime          int64
 16  ArrDelay            float64
 17  ArrivalDelayGroups  float64
dtypes: float64(12), int64(2), object(4)
memory usage: 573.3+ MB

In [102]:
df1.isna().sum()

FlightDate                0
Origin                44110
Dest                  44129
CRSDepTime                0
DepDelay                  0
AirTime               10210
CRSElapsedTime            0
ActualElapsedTime     10210
Distance                  0
Operating_Airline         0
DepDel15                  0
TaxiOut                   0
WheelsOff                 0
WheelsOn               1050
TaxiIn                 1050
CRSArrTime                0
ArrDelay              10210
ArrivalDelayGroups    10210
dtype: int64

In [103]:
print('Number of total missing values:', df1.isna().sum().sum())
print('df1 shape:', df1.shape)

Number of total missing values: 131179
df1 shape: (3955126, 18)

In [104]:
df_NaN = df1.loc[df1.isnull().any(axis=1)]
df_NaN.head(20)

,FlightDate,Origin,Dest,CRSDepTime,DepDelay,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,Operating_Airline,DepDel15,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrivalDelayGroups
352,2022-04-03,NaN,Newark,607,-11.0,89.0,123.0,114.0,515.0,GoJet Airlines,0.0,18.0,614.0,743.0,7.0,810,-20.0,-2.0
393,2022-04-03,Newark,NaN,2235,25.0,68.0,101.0,95.0,515.0,GoJet Airlines,1.0,22.0,2322.0,30.0,5.0,16,19.0,1.0
586,2022-04-03,Huntsville,Houston,615,-7.0,NaN,134.0,NaN,595.0,CommutAir,0.0,14.0,622.0,1029.0,11.0,829,NaN,NaN
765,2022-04-03,Chicago,White Plains,1415,-6.0,NaN,134.0,NaN,738.0,Air Wisconsin,0.0,18.0,1427.0,1922.0,6.0,1729,NaN,NaN
876,2022-04-02,NaN,Newark,607,-13.0,81.0,123.0,122.0,515.0,GoJet Airlines,0.0,33.0,627.0,748.0,8.0,810,-14.0,-1.0
930,2022-04-02,Newark,NaN,2235,0.0,75.0,101.0,102.0,515.0,GoJet Airlines,0.0,24.0,2259.0,14.0,3.0,16,1.0,0.0
1337,2022-04-01,NaN,Newark,607,43.0,98.0,123.0,134.0,515.0,GoJet Airlines,1.0,26.0,716.0,854.0,10.0,810,54.0,3.0
1348,2022-04-01,NaN,Newark,1857,-10.0,79.0,123.0,146.0,515.0,GoJet Airlines,0.0,19.0,1906.0,2025.0,48.0,2100,13.0,0.0
1351,2022-04-01,Newark,NaN,1633,-6.0,70.0,98.0,104.0,515.0,GoJet Airlines,0.0,31.0,1658.0,1808.0,3.0,1811,0.0,0.0
1462,2022-04-01,Newark,NaN,2159,-3.0,78.0,101.0,105.0,515.0,GoJet Airlines,0.0,23.0,2219.0,2337.0,4.0,2340,1.0,0.0
1776,2022-04-01,Columbia,Chantilly,1445,-4.0,NaN,87.0,NaN,401.0,Air Wisconsin,0.0,8.0,1449.0,1711.0,8.0,1612,NaN,NaN
1845,2022-04-01,Albany,Orlando,1245,31.0,NaN,175.0,NaN,1073.0,Southwest Airlines,1.0,12.0,1328.0,1856.0,5.0,1540,NaN,NaN
1935,2022-04-01,Atlanta,Sarasota,1015,-1.0,NaN,100.0,NaN,444.0,Southwest Airlines,0.0,17.0,1031.0,1432.0,4.0,1155,NaN,NaN
2325,2022-04-01,Baltimore,Ft. Lauderdale,845,269.0,NaN,165.0,NaN,925.0,Southwest Airlines,1.0,36.0,1350.0,1945.0,7.0,1130,NaN,NaN
2430,2022-04-01,Baltimore,Tampa,715,-1.0,NaN,155.0,NaN,842.0,Southwest Airlines,0.0,14.0,728.0,NaN,NaN,950,NaN,NaN
2957,2022-04-01,Denver,Tampa,505,-1.0,NaN,205.0,NaN,1506.0,Southwest Airlines,0.0,8.0,512.0,1218.0,4.0,1030,NaN,NaN
3148,2022-04-01,Houston,Arlington,705,-2.0,NaN,170.0,NaN,1218.0,Southwest Airlines,0.0,8.0,711.0,1304.0,4.0,1055,NaN,NaN
3636,2022-04-01,New York,Orlando,1130,2.0,NaN,185.0,NaN,950.0,Southwest Airlines,0.0,32.0,1204.0,1836.0,5.0,1435,NaN,NaN
3714,2022-04-01,Kansas City,Nashville,1750,243.0,NaN,85.0,NaN,491.0,Southwest Airlines,1.0,8.0,2201.0,NaN,NaN,1915,NaN,NaN
4594,2022-04-01,Pittsburgh,Tampa,1635,52.0,NaN,135.0,NaN,873.0,Southwest Airlines,1.0,9.0,1736.0,NaN,NaN,1850,NaN,NaN

In [105]:

df_NaN.shape

(91907, 18)

In [106]:
percentage_NaN = (len(df_NaN)*100)/len(df1)
print('Percentage of rows with at least 1 NaN value:', percentage_NaN)

Percentage of rows with at least 1 NaN value: 2.323743921179755

In [108]:
df1["DepDelay"] = df1["DepDelay"].fillna(0)
df1.isna().sum()

FlightDate                0
Origin                44110
Dest                  44129
CRSDepTime                0
DepDelay                  0
AirTime               10210
CRSElapsedTime            0
ActualElapsedTime     10210
Distance                  0
Operating_Airline         0
DepDel15                  0
TaxiOut                   0
WheelsOff                 0
WheelsOn               1050
TaxiIn                 1050
CRSArrTime                0
ArrDelay              10210
ArrivalDelayGroups    10210
dtype: int64

In [109]:
df1['TaxiIn'].fillna((df1['TaxiIn'].mean()), inplace=True)
df_NaN['TaxiIn'].fillna((df_NaN['TaxiIn'].mean()), inplace=True)

In [110]:
df_NaN.head()

,FlightDate,Origin,Dest,CRSDepTime,DepDelay,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,Operating_Airline,DepDel15,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrivalDelayGroups
352,2022-04-03,NaN,Newark,607,-11.0,89.0,123.0,114.0,515.0,GoJet Airlines,0.0,18.0,614.0,743.0,7.0,810,-20.0,-2.0
393,2022-04-03,Newark,NaN,2235,25.0,68.0,101.0,95.0,515.0,GoJet Airlines,1.0,22.0,2322.0,30.0,5.0,16,19.0,1.0
586,2022-04-03,Huntsville,Houston,615,-7.0,NaN,134.0,NaN,595.0,CommutAir,0.0,14.0,622.0,1029.0,11.0,829,NaN,NaN
765,2022-04-03,Chicago,White Plains,1415,-6.0,NaN,134.0,NaN,738.0,Air Wisconsin,0.0,18.0,1427.0,1922.0,6.0,1729,NaN,NaN
876,2022-04-02,NaN,Newark,607,-13.0,81.0,123.0,122.0,515.0,GoJet Airlines,0.0,33.0,627.0,748.0,8.0,810,-14.0,-1.0

In [111]:
df1.TaxiIn.isna().sum()

0

In [112]:
df1.isna().sum()

FlightDate                0
Origin                44110
Dest                  44129
CRSDepTime                0
DepDelay                  0
AirTime               10210
CRSElapsedTime            0
ActualElapsedTime     10210
Distance                  0
Operating_Airline         0
DepDel15                  0
TaxiOut                   0
WheelsOff                 0
WheelsOn               1050
TaxiIn                    0
CRSArrTime                0
ArrDelay              10210
ArrivalDelayGroups    10210
dtype: int64

In [113]:
df1 = df1.dropna()

In [114]:
df1.shape

(3863219, 18)

In [115]:
df1.isna().sum()

FlightDate            0
Origin                0
Dest                  0
CRSDepTime            0
DepDelay              0
AirTime               0
CRSElapsedTime        0
ActualElapsedTime     0
Distance              0
Operating_Airline     0
DepDel15              0
TaxiOut               0
WheelsOff             0
WheelsOn              0
TaxiIn                0
CRSArrTime            0
ArrDelay              0
ArrivalDelayGroups    0
dtype: int64

In [116]:
df1.head(2)

,FlightDate,Origin,Dest,CRSDepTime,DepDelay,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,Operating_Airline,DepDel15,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrivalDelayGroups
0,2022-04-04,Grand Junction,Denver,1133,-10.0,40.0,72.0,65.0,212.0,CommutAir,0.0,17.0,1140.0,1220.0,8.0,1245,-17.0,-2.0
1,2022-04-04,Harlingen,Houston,732,-4.0,55.0,77.0,80.0,295.0,CommutAir,0.0,16.0,744.0,839.0,9.0,849,-1.0,-1.0

In [117]:
df1['CRSDepTime'] = np.ceil(df1['CRSDepTime']/600).apply(int)
df1['WheelsOff'] = np.ceil(df1['WheelsOff']/600).apply(int) 
df1['WheelsOn'] = np.ceil(df1['WheelsOn']/600).apply(int)
df1['CRSArrTime'] = np.ceil(df1['CRSArrTime']/600).apply(int)

In [118]:
df1.head()

,FlightDate,Origin,Dest,CRSDepTime,DepDelay,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,Operating_Airline,DepDel15,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrivalDelayGroups
0,2022-04-04,Grand Junction,Denver,2,-10.0,40.0,72.0,65.0,212.0,CommutAir,0.0,17.0,2,3,8.0,3,-17.0,-2.0
1,2022-04-04,Harlingen,Houston,2,-4.0,55.0,77.0,80.0,295.0,CommutAir,0.0,16.0,2,2,9.0,2,-1.0,-1.0
2,2022-04-04,Durango,Denver,3,-15.0,47.0,70.0,82.0,251.0,CommutAir,0.0,21.0,3,3,14.0,3,-3.0,-1.0
3,2022-04-04,Houston,Gulfport-Biloxi,3,-5.0,57.0,90.0,77.0,376.0,CommutAir,0.0,16.0,3,3,4.0,3,-18.0,-2.0
4,2022-04-04,Durango,Denver,2,0.0,49.0,70.0,76.0,251.0,CommutAir,0.0,19.0,2,3,8.0,3,6.0,0.0

In [120]:
df1['DAY'] = pd.DatetimeIndex(df1['FlightDate']).day
df1['MONTH'] = pd.DatetimeIndex(df1['FlightDate']).month
df1.head(2)

,FlightDate,Origin,Dest,CRSDepTime,DepDelay,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,Operating_Airline,DepDel15,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrivalDelayGroups,DAY,MONTH
0,2022-04-04,Grand Junction,Denver,2,-10.0,40.0,72.0,65.0,212.0,CommutAir,0.0,17.0,2,3,8.0,3,-17.0,-2.0,4,4
1,2022-04-04,Harlingen,Houston,2,-4.0,55.0,77.0,80.0,295.0,CommutAir,0.0,16.0,2,2,9.0,2,-1.0,-1.0,4,4

In [121]:
print('Maximum number of days in a month:', df1.DAY.nunique())
print('Total number of months:', df1.MONTH.nunique())

Maximum number of days in a month: 31
Total number of months: 7

In [122]:
import calendar
df1['MONTH_AB'] = df1['MONTH'].apply(lambda x: calendar.month_abbr[x])

In [123]:
print('Months present in dataframe:', df1.MONTH.unique())
print('Months present in dataframe:', df1.MONTH_AB.unique())

Months present in dataframe: [4 2 7 5 6 1 3]
Months present in dataframe: ['Apr' 'Feb' 'Jul' 'May' 'Jun' 'Jan' 'Mar']

In [124]:
status = []

for value in df1['ArrDelay']:
    if value < 0:
        status.append(0)
    else:
        status.append(1)
df1['FLIGHT_STATUS'] = status
df1.head(2)

,FlightDate,Origin,Dest,CRSDepTime,DepDelay,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,Operating_Airline,DepDel15,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrivalDelayGroups,DAY,MONTH,MONTH_AB,FLIGHT_STATUS
0,2022-04-04,Grand Junction,Denver,2,-10.0,40.0,72.0,65.0,212.0,CommutAir,0.0,17.0,2,3,8.0,3,-17.0,-2.0,4,4,Apr,0
1,2022-04-04,Harlingen,Houston,2,-4.0,55.0,77.0,80.0,295.0,CommutAir,0.0,16.0,2,2,9.0,2,-1.0,-1.0,4,4,Apr,0

In [125]:
df1.FLIGHT_STATUS.value_counts(normalize=True)

0    0.604725
1    0.395275
Name: FLIGHT_STATUS, dtype: float64

In [126]:
df1.to_csv('df1.csv')

In [127]:
df1.isna().sum()

FlightDate            0
Origin                0
Dest                  0
CRSDepTime            0
DepDelay              0
AirTime               0
CRSElapsedTime        0
ActualElapsedTime     0
Distance              0
Operating_Airline     0
DepDel15              0
TaxiOut               0
WheelsOff             0
WheelsOn              0
TaxiIn                0
CRSArrTime            0
ArrDelay              0
ArrivalDelayGroups    0
DAY                   0
MONTH                 0
MONTH_AB              0
FLIGHT_STATUS         0
dtype: int64